// 2019-07-30
.julio-video {
	&.julio-video-1column {
		display: none;
		@media (max-width: 767px) {
			background-color: #eee;
			display: flex;
			justify-content: space-around;
			padding: 0;
			width: 100%;
		}
	}
	&.julio-video-2columns {
		display: none; @media (min-width: 768px) and (max-width: 1199px) {display: block;}
	}
	&.julio-video-3columns {display: none; @media (min-width: 1200px) {display: block;}}
	text-align: center;
	width: 81px;
	> div {
		@media (max-width: 767px) {
			margin: 7px 0;
			padding: 10px 0;
			text-align: center;
			vertical-align: middle;
		}
		> a {
			color: #2D2D2D;
			display: inline-block;
			font-family: "futura-pt-n7", "futura-pt", Tahoma, Geneva, Verdana, Arial, sans-serif;
			font-size: 11px;
			font-style: normal;
			font-weight: 700;
			height: 61px;
			letter-spacing: 1.4px;
			line-height: 16px;
			outline: 0;
			text-align: center;
			text-transform: uppercase;
			width: 68px;
			@media (max-width: 767px) {
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				display: block;
				height: initial;
				width: initial;
			}
			> div {
				height: 44px;
				position: relative;
				width: 68px;
				@media (max-width: 767px) {
					display: inline-block;
					float: left;
					height: 24px;
					margin-right: 10px;
					width: 24px;
				}
				> div {
					background: url('./i/composite.svg') no-repeat;
					bottom: 0;
					left: 0;
					margin: auto;
					position: absolute;
					right: 0;
					top: 0;
					@media (max-width: 767px) {margin-left: 10px; margin-right: 10px;}
					&:nth-of-type(1) {
						background-position: 65.18518518518519% 31.007751937984494%;
						height: 16px;
						width: 15px;
					}
					&:nth-of-type(2) {
						background-position: 0 100%;
						display: none;
						height: 16px;
						width: 15px;
					}
				}
			}
			> span {
				@media (max-width: 767px) {
					display: block;
					float: right;
					line-height: 24px;
					margin-left: 10px;
				}
			}
		}
	}
}