// 2019-07-30
.jul-video-mobile {
	display: none;
	@media (max-width: 767px) {
		background-color: #eee;
		display: flex;
		justify-content: space-around;
		padding: 0;
		text-align: center;
		width: 100%;
		> div {
			margin: 7px 0;
			padding: 10px 0;
			text-align: center;
			vertical-align: middle;
			> a {
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				color: #2D2D2D;
				font-family: "futura-pt-n7", "futura-pt", Tahoma, Geneva, Verdana, Arial, sans-serif;
				font-size: 11px;
				font-style: normal;
				font-weight: 700;
				letter-spacing: 1.4px;
				line-height: 16px;
				outline: 0;
				text-align: center;
				text-transform: uppercase;
				> div {
					display: inline-block;
					float: left;
					height: 24px;
					margin-right: 10px;
					position: relative;
					width: 24px;
					> div {
						background: url('./i/composite.svg') no-repeat;
						bottom: 0;
						left: 0;
						margin: auto 10px;
						position: absolute;
						right: 0;
						top: 0;
						&:nth-of-type(1) {
							background-position: 65.18518518518519% 31.007751937984494%;
							height: 16px;
							width: 15px;
						}
						&:nth-of-type(2) {
							background-position: 0 100%;
							display: none;
							height: 16px;
							width: 15px;
						}
					}
				}
				> span {
					display: block;
					float: right;
					line-height: 24px;
					margin-left: 10px;
				}
			}
		}
	}
}